@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(http://fonts.googleapis.com/css?family=Montserrat:700);
/***
  Framework
  ***/

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #999;
  letter-spacing: 0.6px;
  line-height: 28px;
}

.container {
  width: 50%;
  margin: 0 auto;
}

.fluid-container {
  width: 100%;
}

section {
  padding: 85px 0;
}

section h1 {
  margin: 20px 0 0 0;
  text-align: center;
}

section small {
  text-align: center;
  display: block;
}

section a {
  display: block;
  text-align: center;
}

.blue-bg {
  background-color: #19acca;
  color: #c5e9f1;
}

.blue-bg h1 {
  color: #fff;
}

.blue-bg a {
  color: #fff;
}

.yellow-bg {
  background-color: #fcb614;
  color: #2c1f02;
}

.yellow-bg a {
  color: #7f5a06;
}

.green-bg {
  background-color: #7ec9ac;
  color: #357f63;
}

.grey-bg {
  background-color: #f3f3e9;
  color: #7f6c55;
}

.grey-bg a {
  color: #ad6c29;
}

.lead {
  font-size: 1.35em;
}

.text-center {
  text-align: center;
}

.prim {
  text-align: center;
  background: #5ecbeb;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  line-height: 30px;
  padding: 12px 35px;
  color: #fff;
  box-shadow: 0 3px 1px #4bb5d4;
  margin-top: 20px;
  transition: all 0.2s;
}

.prim:hover {
  background: #07c2f9;
  box-shadow: 0 3px 1px #07a5d3;
}

.prim a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
}

/***
  Quick grids
***/

.box {
  display: inline-block;
  vertical-align: top;
}

.box-1 {
  width: 10%;
}

.box-2 {
  width: 20%;
}

.box-3 {
  width: 30%;
}

.box-4 {
  width: 40%;
}

.box-5 {
  width: 50%;
}

.box-6 {
  width: 60%;
}

.box-7 {
  width: 70%;
}

.box-8 {
  width: 80%;
}

.box-9 {
  width: 90%;
}


.box-10 {
  width: 100%;
}

/***
  Gallery
***/

.img-gall {
  width: 85%;
  display: block;
  margin: 0 auto;
  padding: 16px;
  border-radius: 8px;
  background-color: #fff;
}

.about-gall {
  width: 55%;
}

/***
  Header
***/

header {
  background-color: #e5e5e5;
  padding: 10px 0 30px 0;
  text-align: center;
}

header h1 a {
  font-size: 48px;
  color: #555;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

header small {
  font-weight: 400;
  color: #9f9f9f;
}

/***
  Figures
***/

figure {
  text-align: center;
}

figure i {
  background-color: #fff;
  font-size: 68px !important;
  padding: 35px;
  border-radius: 50%;
}

.likes img {
  max-width: 25%;
  display: block;
  margin: 0 auto;
}

/***
  Contact
***/

input, textarea {
  border: none;
  border-radius: 8px;
  display: block;
  width: 100%;
  background-color: #f3f3e9;
}
input {
  height: 30px;
}

/***
  animation calls
  ***/

.about-gall {
  -webkit-animation: slideInUp 0.5s 1;
}